<h1>Joueurs</h1>

<ul>
    <% @players.each do |player| %>
        <li><%= link_to "#{player.first_name} #{player.last_name}", player_path(player.id) %></li>
    <% end %>
</ul>

<%= link_to "Ajouter un joueur", new_player_path %>